.hidden {
    display: none;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 20px;
}

a {
    color: rgb(246, 88, 88);
    text-decoration: none;
    font-size: 30px;
}
