.hidden {
    display: none;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 20px;
}

a {
    /* color: rgb(246, 88, 88); */
    text-decoration: none;
    font-size: 30px;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 2px solid lightgrey;
    height: 80px;
}

#greetup-logo {
    color: rgb(246, 88, 88);
    /* padding: 20px; */
    padding: 1px;
    margin-left: 15px;
    align-self: center;
}

.nav-links {
    padding: 10px;
}

.nav-links :hover {
    cursor: pointer;
}

#start-group{
    color: #00798a;
    font-size: 1rem;
    margin-right: 2rem;
}

#profile-li{
    list-style: none;
    align-self: center;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

#profile-button {
    background-color: white;
    border: none;

}

.fa-user-circle {
    margin-right: 5px;
    /* width: 100px; */
}

#profile-circle {
    color: rgb(246, 88, 88);
}

#profile-dropdown {
    display: inline-block;
    /* flex-direction: column; */
    position: relative;
    /* bottom: 50%; */
    /* right: 100%; */
}
