#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    /* background-color: red */
};

button {
    cursor: pointer;
}

#demo-user {
    text-decoration: underline;
    color: rgb(46, 113, 117);
    margin-bottom: 25px;
    cursor: pointer;
}

#demo-user :hover {
    cursor: pointer;
}



.form-comp {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
}

label {
    /* font-size: smaller; */
}

input {
    margin-top: 5px;
    background-color: rgb(220, 236, 241);
    height: 22px;
}

h2 {
    margin: 20px;
    font-weight: lighter;
}
